@model CyberCafe.Models.loginDetail

@{
    Layout = null;
    ViewBag.Title = "Login Page";
}
<html>
<head>
    <title>Customer Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
</head>
<body style="background-color: burlywood;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 form login-form">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    <form>
                            <h2 class="text-center">Login Here</h2>
                            <div class="control-group">
                                <!-- Fullname -->
                                <label class="control-label" for="username">User Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(a => a.Username, new { @class = "form-control", @placeholder = "User Name" })
                                    @Html.ValidationMessageFor(a => a.Username, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    @Html.PasswordFor(a => a.password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(a => a.password, "", new { @class = "error" })
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    <button class="btn btn-success" type="submit" name="signin">Signin</button>
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls">
                                    @*<a href="Home/UserRegistration">Register Here</a>*@
                                    @Html.ActionLink("Register Here", "UserRegistration", "Home")
                                </div>
                            </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript"></script>
</body>
</html>


